<header class="row">
  <div class="col-sm-6">
    <h3><%= t("In-flight") %></h3>
  </div>
  <div class="col-sm-4">
    <%= erb :_paging, locals: { url: "#{root_path}in-flight" } %>
  </div>
</header>

<div class="table_container">
  <table class="inflight table table-hover table-bordered table-striped table-white">
    <thead>
      <th><%= t("Total In-flight") %></th>
      <th><%= t("Estimated Lost") %></th>
    </thead>
      <tr>
        <td><%= number_with_delimiter(@total_size) %> </td>
        <td><%= number_with_delimiter(@total_size - workers.size) %> </td>
      </tr>
  </table>
</div>

<div class="table_container">
  <table class="inflight table table-hover table-bordered table-striped table-white">
    <thead>
      <th><%= t("Job") %></th>
      <th><%= t("Args") %></th>
      <th><%= t("Queue") %></th>
      <th><%= t("Expires at") %></th>
      <th><%= t("Actions") %></th>
    </thead>
    <% @jobs&.each do |job| %>
      <tr>
        <td><%= h job["class"] %> </td>
        <td><%= h job["args"] %> </td>
        <td>
          <a href="<%= root_path %>queues/<%= CGI.escape(job["queue"]) %>"><%= h job["queue"] %></a>
        </td>
        <td>
          <%= relative_time(Time.at(job["expire_at"]))  %>
        </td>
        <td>
          <form action="<%= root_path %>in-flight/<%= CGI.escape(job["jid"]) %>/delete" method="post">
            <%= csrf_tag if respond_to?(:csrf_tag) %>
            <input class='btn btn-xs btn-danger pull-left' type="submit" name="delete" value="<%= t('Delete') %>" data-confirm="<%= t('Are you sure?', :jid => job["jid"]) %>"/>
          </form>
        </td>
      </tr>
    <% end %>
  </table>
</div>
